SECRET_KEY=django-insecure-dev-key
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL local settings
DB_NAME=eventify_db
DB_USER=postgres
DB_PASSWORD=bissouma8
DB_HOST=localhost
DB_PORT=5432
DB_USE_SQLITE=false

# Email settings
DEFAULT_FROM_EMAIL=no-reply@eventify.dev
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=ton-email@gmail.com
EMAIL_HOST_PASSWORD=ton-mot-de-passe-d-application
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=20
